<h1>Edit task</h1>

<%= form_for(@task, local: true) do |form| %>
  <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
  </div>
  

  <div>
      <%= form.label :description %>
      <%= form.text_field :description %>
  </div>

  <%= form.submit "Edit" %>
<% end %>

<%= link_to 'View all tasks', tasks_path %>